<h1>This is the page about  
	<%= name %>
</h1>
<img src='https://i.namu.wiki/i/KSLxjmD0SDgTbBkRSB6A5N20Hr6RS4jRx_ZHL7fBBsxHn1Jx0pyuclasyH75CY-u_bgGvIm0Qmjgu_hJb6L8tw.gif' style='width: 300px; height: auto;' />
<hr>
<%- include('../partials/comment') %>
