<form class='form-reset-password' action='/password_reset' method='post'>
	<h1>Enter your email</h1>
        <input type='text' name='email' value='' placeholder='Enter your email' required/>
        <br>
	<button type='submit'>submit</button> 
</form>
