<form class='form-setting-password' action='/password_setting' method='post'>
	<h1>Enter your new password</h1>
	<%= email %>
        <input type='text' name='password' value='' placeholder='Enter your new password' required/>
        <br>
        <input type='submit' name='submit'>
</form>
