<form class='form-signup' action='/signup' method='post'>
	<h1>Sign up</h1>
	<input type='text' name='id' value='' placeholder='Enter your id' required/>
	<br>
	<input type='text' name='password' value='' placeholder='Enter your password' required/>
	<br>
	<input type='text' name='email' value='' placeholder='Enter your email' required/>
	<br>
	<input class='birthdate' type='date' name='birthdate' value='' min='1900-01-01' placeholder='Enter your birthday or update later' />
	<input type='submit' name='submit'>
</form>

